<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body class="grey-bg">

    <%- include('nav.ejs') %>

        <input class="search">
        <button class="search-send">검색</button>

        <script>
            document.querySelector('.search-send').addEventListener('click', function () {
                let inputSearch = document.querySelector('.search').value
                location.href = '/search?val=' + inputSearch
            })
        </script>

        <div class="white-bg">
            <% for (let i=0; i<posts.length; i++) { %>
                <div class="list-box">
                    <h4>
                        <a href="/detail/<%=posts[i]._id%>">
                            <%=posts[i].title%>
                        </a>
                        <% if (posts[i].user && user && posts[i].user.toString()===user.toString()) { %>
                            <a href="/modify/<%=posts[i]._id%>">✏️</a>
                            <span class="delete">🗑️</span>
                        <% } %>
                    </h4>
                    <p>
                        <%=posts[i].content%>
                    </p>
                </div>
                <% } %>
        </div>

        <a href="/list/next/<%= posts[posts.length-1]._id %>">다음</a>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.querySelectorAll('.delete').forEach(button => {
                    button.addEventListener('click', function (e) {
                        let listBox = this.closest('div');
                        let id = listBox.querySelector('h4 a').getAttribute('href').split('/').pop();

                        fetch('/doc', {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ id: id })
                        })
                            .then((r) =>
                                r.text()
                            )
                            .then((result) => {
                                if (result.text() == "삭제 완료") {
                                    e.target.parentElement.parentElement.style.display = 'none'
                                }
                            })
                    });
                });
            });
        </script>

</body>

</html>